bin/
obj/
out/

riderModule.iml
/_ReSharper.Caches/
.vs
.idea
*.sln.DotSettings.user
*.user

node_modules/
RimObs.Dashboard/dist/

**/Assemblies/
**/AssetBundles/
**/.lastassetbuildhash

*.stackdump
*.nupkg
*.snupkg

# Local runtime artifacts created by the collector
collector.token
collector.port
sessions/
logs/

# OS junk
.DS_Store
Thumbs.db
